<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss}	%msg%n" />
			<!-- <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" /> -->
		</Console>
		<File name="File" fileName="/Users/sangjun/Documents/BanWalk/MiddleProject/logs/road.log" append="true">
			<PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss}%msg%n" />
		</File>
	</appenders>
	
	<loggers>
		<root level="debug">
			<appender-ref ref="Console" />
			<appender-ref ref="File" />
		</root>
	</loggers>
	
</configuration>